body {
	font:'Raleway' , sans-serif;
	text-align: center;
	color: rgba(0,0,0,0.5);
	text-transform: uppercase;
	background: linear-gradient(to right, red,yellow );
	letter-spacing: 0.5em;
	line-height: 40px;
		
}